@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #576975;
}

body {
    background: #f1f1f1;
    height: 100vh;
    width: 100vh;
}

.mainlogin {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftlogin {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75); */

.leftlogin h1 {
    color: #576975;
    font-size: 5vh;
}

.rightlogin {
    width: 47vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardlogin {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #f1f1f1;
    border-radius: 20px;
    box-shadow: 0px 0px 45px 15px #576975;
}

.cardlogin h1 {
    color: #576975;
    font-weight: 800;
    margin: 0;
}

.cardlogin p {
    margin-top: 25px;
}

.cardbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardbuttons input {
    margin-top: 25px;
    padding: 15px;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

input {
    height: 45px;
}

.textfield input,
.textfield select {
    width: 100%;
    border: 1px solid #576975;
    border-radius: 10px;
    padding: 15px;
    background: #f1f1f1;
    color: #576975;
    font-size: 12pt;
    box-shadow: 0px 5px 20px #f1f1f1;
    outline: none;
    box-sizing: border-box;
}

.textfield label {
    color: #576975;
    margin-bottom: 10px;
}

.textfield input::placeholder {
    color: #576975;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: 2px solid #576975;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: #576975;
    background: transparent;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #f1f1f1;

}

.left-login-image {
    width: 450px;
    height: 450px;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        align-items: center;
    }

    .mainlogin {
        flex-direction: column;
    }

    .leftlogin {
        height: 150px;
        margin-bottom: 65px;
    }

    .leftlogin h1 {
        text-align: center;
        height: 800px;
    }

    .leftlogin img {
        display: none;
    }

    .rightlogin {
        height: 449px;
    }
}

@media only screen and (max-width: 480px) {
    html {
        overflow-y: hidden;
    }

    input {
        height: 40px;
    }

    .cardlogin h1 {
        font-size: 25px;
    }

    .rightlogin {
        width: 65vw;
    }

    .btn-login {
        padding: 0;
    }
}